<div>
  <% @students.each do |student| %>
    <!-- <div><%= student.first_name + " " + student.last_name %></div> -->
    <!-- The line of code above is abstracted into #to_s insance method of Student class: -->
    <div><%= student.to_s %></div>
  <% end %>
</div>
