<div>
  <% @students.each do |fi_student| %>
    <div>
      <%=fi_student.first_name + " " + fi_student.last_name %>
      <%=link_to('View ' + fi_student.first_name, fi_student)%>
    </div>
  <% end %>
</div>